<!DOCTYPE html>
{% extends 'base.html' %}
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Saving</title>
    <link rel="stylesheet" href="{%static 'css/demo.css'%}">
</head>
<body>
{%block baseblock %}
<img src="{%static 'images/img_5.png'%}" class="rounded mx-auto d-block">
<div class="container" align="center">

    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>

</div>
{%endblock%}
</body>
</html>