<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Details</title>
<link rel="stylesheet" href='{% static "css/demo.css" %}'>
</head>
<body>
{%block baseblock %}
{% if obj %}
<table  align="center" style="width:50%" border="1" class="table table-hover">
    <h3 align="center"> Client Details</h3>
    <thead class="thead-dark">

    <th> name</th>
    <th> email</th>
    <th> company</th>
    </thead>
    {% for lap in obj %}
    <tr>
        <td>{{lap.name}}</td>
        <td>{{lap.email}}</td>
        <td>{{lap.company}}</td>

    </tr>
    {% endfor%}

</table>
{%else%}
<h1> No data found</h1>
{%endif%}
{%endblock%}
</body>
</html>