<!DOCTYPE html>
{% extends 'base.html' %}
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{%static 'css/demo.css'%}">
</head>

<body>
{%block baseblock %}
<div class="container" align="center">
    <h3> employee details</h3>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
<img src="{%static 'images/img.png'%}">
</div>
{%endblock%}
</body>
</html>