<!DOCTYPE html>
{% extends 'base.html' %}
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{%static 'css/demo.css'%}">
</head>
<body>
{%block baseblock %}
<h2>Sign Up</h2>
<h3>Please fill in this form to create an account!</h3>
<!--<img src="{%static 'images/img_4.png'%}" class="rounded mx-auto d-block"  alt="Responsive image">-->
<div class="container" align="center">

    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-dark">Sign Up</button>
    </form>

</div>
<h4>Already have on account!</h4><a href="/accounts/login/">login here</a>
{%endblock%}
{%block baseblock2%}
{%endblock%}
</body>
</html>