<!DOCTYPE html>
{% extends 'base.html' %}
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FasTag</title>
    <link rel="stylesheet" href="{%static 'css/demo.css'%}">
</head>
<body>
{%block baseblock %}
<img src="{%static 'images/img_8.png'%}" class="img-fluid" alt="Responsive image">
<div class="container" align="center">
    <h3>FasTag details</h3>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>

</div>
{%endblock%}
</body>
</html>